<div class="breadcrumbs">
  <nav aria-label="breadcrumb" >
    <%= breadcrumbs do %>
      <%= breadcrumb 'Insurance policies' %>
    <% end %>

    <%= link_to 'New insurance policy', new_insurance_policy_path, class: 'btn btn-sm btn-primary action-button' %>
  </nav>
</div>

<%= render 'search' %>

<table class="table">
  <thead>
  <tr>
    <th scope="col"><%= sort_link @search, :valid_to, 'Valid to' %></th>
    <th scope="col"><%= sort_link @search, :insurance_policy_type, 'Type' %></th>
    <th scope="col"><%= sort_link @search, :cost, 'Cost' %></th>
    <% unless current_driver %>
      <th scope="col"><%= sort_link @search, :driver_id, 'Driver' %></th>
    <% end %>
    <th scope="col" colspan="2">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @insurance_policies.each do |insurance_policy| %>
  <tr>
    <td><%= link_to insurance_policy.valid_to, insurance_policy_path(insurance_policy) %></td>
    <td><%= insurance_policy.insurance_policy_type %></td>
    <td><%= insurance_policy.cost %></td>
    <% unless current_driver %>
      <td><%= link_to insurance_policy.driver.info, driver_path(insurance_policy.driver) %></td>
    <% end %>
    <td><%= link_to 'Edit', edit_insurance_policy_path(insurance_policy), class: 'btn btn-success' %></td>
    <td><%= link_to 'Delete', insurance_policy_path(insurance_policy), method: :delete,
                    class: 'btn btn-danger', data: { confirm: 'Are you sure?' }%></td>
  </tr>
  <% end %>
  </tbody>
  <div class="container pagination justify-content-center">
    <%= paginate @insurance_policies %>
  </div>
</table>





