<div class="breadcrumbs">
  <nav aria-label="breadcrumb">
    <%= breadcrumbs do %>
      <%= breadcrumb 'Trucks', trucks_path %>
      <%= breadcrumb @form.model.id, truck_path(@form.model) %>
      <%= breadcrumb 'Edit' %>
    <% end %>
  </nav>
</div>

<%= render 'form' %>
