<div class="breadcrumbs">
  <nav aria-label="breadcrumb" >
    <%= breadcrumbs do %>
      <%= breadcrumb 'Trucks' %>
    <% end %>

    <% unless current_driver %>
     <%= link_to 'New truck', new_truck_path, class: 'btn btn-sm btn-primary action-button' %>
    <% end %>
  </nav>
</div>

<%= render 'search' %>

<table class="table">
  <thead>
  <tr>
    <th scope="col"><%= sort_link @search, :brand, 'Brand' %></th>
    <th scope="col"><%= sort_link @search, :truck_model, 'Model' %></th>
    <th scope="col"><%= sort_link @search, :reg_number, 'Reg number' %></th>
    <th scope="col"><%= sort_link @search, :body_number, 'Body number' %></th>
    <th scope="col"><%= sort_link @search, :color, 'Color' %></th>
    <th scope="col"><%= sort_link @search, :year_of_issue, 'Year of issue' %></th>
    <% unless current_driver %>
      <th scope="col"><%= sort_link @search, :driver_id, 'Driver' %></th>
    <% end %>
    <th scope="col"><%= sort_link @search, :company_id, 'Company' %></th>
    <th scope="col" colspan="2">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @trucks.each do |truck| %>
  <tr>
    <td><%= truck.brand %></td>
    <td><%= truck.truck_model %></td>
    <td><%= link_to truck.reg_number, truck_path(truck) %></td>
    <td><%= truck.body_number %></td>
    <td><%= truck.color %></td>
    <td><%= truck.year_of_issue %></td>
    <% if truck.driver && !current_driver %>
      <td><%= link_to truck.driver.info, driver_path(truck.driver) %></td>
    <% elsif !current_driver %>
      <td>N/A</td>
    <% end %>
    <% if truck.company %>
      <td><%= link_to truck.company.name, company_path(truck.company) %></td>
    <% else %>
      <td>N/A</td>
    <% end %>
    <td><%= link_to 'Edit', edit_truck_path(truck), class: 'btn btn-success' %></td>
    <% unless current_driver %>
      <td><%= link_to 'Delete', truck_path(truck), method: :delete,
                      class: 'btn btn-danger', data: { confirm: 'Are you sure?' }%></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
  <div class="container pagination justify-content-center">
    <%= paginate @trucks %>
  </div>
</table>





