<li class="nav-item active">
  <a class="nav-link" href="<%= companies_path %>">Companies<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="<%= drivers_path %>">Drivers<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="<%= driver_licenses_path %>">Driver Licenses<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="<%= goods_path %>">Goods<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="<%= insurance_policies_path %>">Insurance policies<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="<%= orders_path %>">Orders<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="<%= trailers_path %>">Trailers<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="<%= trucks_path %>">Trucks<span class="sr-only">(current)</span></a>
</li>
