<div class="breadcrumbs">
  <nav aria-label="breadcrumb" >
    <%= breadcrumbs do %>
      <%= breadcrumb 'Customers' %>
    <% end %>

    <%= link_to 'New customer', new_customer_path, class: 'btn btn-sm btn-primary action-button' %>
  </nav>
</div>

<%= render 'search' %>

<table class="table">
  <thead>
  <tr>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Company phone</th>
    <th scope="col">Mobile phone</th>
    <th scope="col">Email</th>
    <th scope="col" colspan="2">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @customers.each do |customer| %>
  <tr>
    <td><%= customer.first_name %></td>
    <td><%= customer.last_name %></td>
    <td><%= customer.company_phone %></td>
    <td><%= customer.mobile_phone %></td>
    <td><%= link_to customer.email, customer_path(customer) %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer), class: 'btn btn-success' %></td>
    <td><%= link_to 'Delete', customer_path(customer), method: :delete,
                    class: 'btn btn-danger', data: { confirm: 'Are you sure?' }%></td>
  </tr>
  <% end %>
  </tbody>
  <div class="container pagination justify-content-center">
    <%= paginate @customers%>
  </div>
</table>





