<div class="breadcrumbs">
  <nav aria-label="breadcrumb" >
    <%= breadcrumbs do %>
      <%= breadcrumb 'Companies', company_owners_path %>
      <%= breadcrumb "#{@model.id}" %>
    <% end %>
  </nav>
</div>

<ul class="list-group">
  <li class="list-group-item"><strong>Name: </strong><%= @model.name %></li>
  <li class="list-group-item"><strong>Address: </strong><%= @model.address%></li>
  <li class="list-group-item"><strong>Email: </strong><%= @model.email %></li>
  <li class="list-group-item"><strong>Phone: </strong><%= @model.phone %></li>
  <li class="list-group-item"><strong>Actions: </strong>
    <%= link_to 'Edit', edit_company_path(@model), class: 'btn btn-success btn-sm' %>
    <%= link_to 'Delete', company_path(@model),
                class: 'btn btn-danger btn-sm', method: :delete,
                data: {confirm: 'Are you sure?'} %>
  </li>
</ul>
