<div class="breadcrumbs">
  <nav aria-label="breadcrumb" >
    <%= breadcrumbs do %>
      <% if current_driver %>
        <%= breadcrumb 'Companies' %>
      <% else %>
        <%= breadcrumb 'Companies', companies_path %>
      <% end %>
        <%= breadcrumb "#{@model.name}" %>
    <% end %>
  </nav>
</div>

<ul class="list-group">
  <li class="list-group-item"><strong>Name: </strong><%= @model.name %></li>
  <li class="list-group-item"><strong>Address: </strong><%= @model.address%></li>
  <li class="list-group-item"><strong>Email: </strong><%= @model.email %></li>
  <li class="list-group-item"><strong>Phone: </strong><%= @model.phone %></li>
  <% if current_admin %>
    <li class="list-group-item"><strong>Owner: </strong><%= link_to @model.company_owner.info, company_owner_path(@model.company_owner) %></li>
  <% end %>
  <% unless current_driver %>
    <li class="list-group-item"><strong>Actions: </strong>
      <%= link_to 'Edit', edit_company_path(@model), class: 'btn btn-success btn-sm' %>
      <%= link_to 'Delete', company_path(@model),
                  class: 'btn btn-danger btn-sm', method: :delete,
                  data: {confirm: 'Are you sure?'} %>
    </li>
  <% end %>
</ul>
