<div class="breadcrumbs">
  <nav aria-label="breadcrumb" >
    <%= breadcrumbs do %>
      <%= breadcrumb 'Company owners' %>
    <% end %>

    <%= link_to 'New company owner', new_company_owner_path, class: 'btn btn-sm btn-primary action-button' %>
  </nav>
</div>

<%= render 'search' %>

<table class="table">
  <thead>
  <tr>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col" colspan="2">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @company_owners.each do |company_owner| %>
  <tr>
    <td><%= company_owner.first_name %></td>
    <td><%= company_owner.last_name %></td>
    <td><%= company_owner.phone %></td>
    <td><%= link_to company_owner.email, company_owner_path(company_owner) %></td>
    <td><%= link_to 'Edit', edit_company_owner_path(company_owner), class: 'btn btn-success' %></td>
    <td><%= link_to 'Delete', company_owners_path(company_owner), method: :delete,
                    class: 'btn btn-danger', data: { confirm: 'Are you sure?' }%></td>
  </tr>
  <% end %>
  </tbody>
  <%= paginate @company_owners %>
</table>





