<div class="breadcrumbs">
  <nav aria-label="breadcrumb" >
    <%= breadcrumbs do %>
      <%= breadcrumb 'Goods' %>
    <% end %>
    <% unless current_company_owner %>
      <%= link_to 'New goods', new_good_path, class: 'btn btn-sm btn-primary action-button' %>
    <% end %>
  </nav>
</div>

<%= render 'search' %>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Weight</th>
    <th scope="col">Volume</th>
    <th scope="col">Goods type</th>
    <% if current_admin %>
      <th scope="col">Customer</th>
    <% end %>
    <% unless current_company_owner %>
      <th scope="col" colspan="2">Actions</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @goods.each do |goods| %>
  <tr>
    <td><%= link_to goods.name, good_path(goods) %></td>
    <td><%= goods.weight %></td>
    <td><%= goods.volume %></td>
    <td><%= goods.goods_type %></td>
    <% if current_admin %>
      <td><%= link_to goods.customer.email, customer_path(goods.customer) %></td>
    <% end %>
    <% unless current_company_owner %>
      <td><%= link_to 'Edit', edit_good_path(goods), class: 'btn btn-success' %></td>
      <td><%= link_to 'Delete', good_path(goods), method: :delete,
                      class: 'btn btn-danger', data: { confirm: 'Are you sure?' }%></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
  <div class="container pagination justify-content-center">
    <%= paginate @goods %>
  </div>
</table>





