<h2 class="text-center">Forgot your password?</h2>

<div class="col-md-4 offset-md-4 text-center">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
    </div>

    <%= f.submit "Send me reset password instructions" , class: 'btn btn-outline-success' %>
  <% end %>

  <div class="mt-4">
    <%= render "company_owners/shared/links" %>
  </div>
</div>
