<div class="breadcrumbs">
  <nav aria-label="breadcrumb" >
    <%= breadcrumbs do %>
      <%= breadcrumb 'Drivers', drivers_path %>
      <%= breadcrumb "#{@model.id}" %>
    <% end %>
  </nav>
</div>
<div class="col-md-6 offset-md-3 show-margin">
  <ul class="list-group">
    <li class="list-group-item"><strong>First name: </strong><%= @model.first_name %></li>
    <li class="list-group-item"><strong>Last name: </strong><%= @model.last_name%></li>
    <li class="list-group-item"><strong>Email: </strong><%= @model.email %></li>
    <li class="list-group-item"><strong>Phone: </strong><%= @model.phone %></li>
    <% if @model.company %>
      <li class="list-group-item"><strong>Company: </strong><%= link_to @model.company.name, company_path(@model.company) %></li>
    <% else %>
      <li class="list-group-item"><strong>Company: </strong> N/A </li>
    <% end %>
    <% if @model.truck %>
      <li class="list-group-item"><strong>Truck: </strong><%= link_to @model.truck.reg_number, truck_path(@model.truck) %></li>
    <% else %>
      <li class="list-group-item"><strong>Truck: </strong> N/A </li>
    <% end %>
    <% if @model.driver_license %>
      <li class="list-group-item">
        <strong>Driver License: </strong><%= link_to @model.driver_license.valid_to, driver_license_path(@model.driver_license) %></li>
    <% else %>
      <li class="list-group-item">
      <strong>Driver License: </strong> N/A
      </li>
    <% end %>
    <% if @model.insurance_policies %>
      <li class="list-group-item">
        <strong>Insurance policies: </strong><%= link_to @model.insurance_policies.count, insurance_policies_path %>
      </li>
    <% else %>
      <li class="list-group-item">
      <strong>Insurance policy: </strong> N/A
      </li>
    <% end %>
      <li class="list-group-item">
        <strong>Orders: </strong><%= link_to @model.orders.count, orders_path %>
      </li>
    <li class="list-group-item"><strong>Actions: </strong>
      <%= link_to 'Edit', edit_driver_path(@model), class: 'btn btn-success btn-sm' %>
      <%= link_to 'Delete', driver_path(@model),
                  class: 'btn btn-danger btn-sm', method: :delete,
                  data: {confirm: 'Are you sure?'} %>
    </li>
  </ul>
</div>
