<div class="breadcrumbs">
  <nav aria-label="breadcrumb">
    <%= breadcrumbs do %>
      <%= breadcrumb 'Driver Licenses', driver_licenses_path %>
      <%= breadcrumb @form.model.id, driver_license_path(@form.model) %>
      <%= breadcrumb 'Edit' %>
    <% end %>
  </nav>
</div>

<%= render 'form' %>
