<div class="breadcrumbs">
  <nav aria-label="breadcrumb" >
    <%= breadcrumbs do %>
      <%= breadcrumb 'Driver Licenses' %>
    <% end %>

    <%= link_to 'New driver license', new_driver_license_path, class: 'btn btn-sm btn-primary action-button' %>
  </nav>
</div>

<%= render 'search' %>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Categories</th>
    <th scope="col">Valid to</th>
    <% unless current_driver %>
      <th scope="col">Driver</th>
    <% end %>
      <th scope="col" colspan="2">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @driver_licenses.each do |driver_license| %>
  <tr>
    <td><%= link_to driver_license.id, driver_license_path(driver_license) %></td>
    <td><%= driver_license.categories %></td>
    <td><%= driver_license.valid_to %></td>
    <% unless current_driver %>
      <td><%= link_to driver_license.driver.info, driver_path(driver_license.driver) %></td>
    <% end %>
    <td><%= link_to 'Edit', edit_driver_license_path(driver_license), class: 'btn btn-success' %></td>
    <td><%= link_to 'Delete', driver_license_path(driver_license), method: :delete,
                    class: 'btn btn-danger', data: { confirm: 'Are you sure?' }%></td>
  </tr>
  <% end %>
  </tbody>
  <div class="container pagination justify-content-center">
    <%= paginate @driver_licenses, pagination_class: "pagination-sm" %>
  </div>
</table>



